---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10">
    <p class="text-justify">
      Since 2016, I've contributed to develop several websites for small and medium-sized companies around the globe. I've worked in E-Commerce solutions, pages such as landings, services, portfolios, blogs, NFT's, among others.
    </p>

    <p class="mt-3 text-justify">
      Following UI/UX design principles and standards, I'm able to recreate with success and high quality, the designs provided by co-workers or clients.
    </p>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Freelance Web Developer @ Work Ninjas"
      subtitle="March 2022 to Today, in USA & Honduras (remotely)."
    >
      WordPress development from scratch... WooCommerce, Elementor, ACF.
      <br>
      Webflow development.

    </TimeLineElement>

    <TimeLineElement
      title="WordPress Developer @ Mintec / Virtalio"
      subtitle="From December 2020 to December 2022 in Honduras, San Pedro Sula (remotely)."
    >
      Web development with HTML, CSS (and frameworks), JS & Next.js, also with Shopify / Liquid. 
      <br>
      WordPress development from scratch... WooCommerce, Elementor, ACF.
    </TimeLineElement>

    <TimeLineElement
      title="Freelance Web Developer"
      subtitle="From January 2019 to December 2020 in Colombia, Bucaramanga."
    >
      Sales, customer support, project management, marketing, web / wordpress development, WPO & SEO.
    </TimeLineElement>

    <TimeLineElement
      title="WordPress Developer @ GenteClick"
      subtitle="From April 2016 to January 2019 in Colombia, Bucaramanga."
    >
      Customer support, project management, wordpress development & SEO. 
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a>Treehouse - Front End Web Development Program</a>
    </li>
    <li>
      <a>Platzi - WordPress Courses</a>
    </li>
    <li>
      <a>Udemy - WordPress, JavaScript and React Courses</a>
    </li>
    <li>
      <a>Frontend Masters - CSS & JavaScript Courses</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>WordPress</li>
    <li>Astro</li>
    <li>Webflow</li>
    <li>Shopify</li>
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>PHP</li>
    <li>Tailwind</li>
    <li>Bootstrap</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Material UI</li>
    <li>English B2</li>
    <li>Soft Skills</li>
    <li>Vision</li>
  </ul>
</BaseLayout>
