---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (
  await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <span class="text-xl py-1">Hey there 👋</span>
    <h1 class="text-5xl font-bold">I'm Diego Álvarez</h1>
    <h2 class="text-3xl py-3 font-bold">Web Developer</h2>

    <div class="py-2">
      <p class="text-lg">
        Since 2016, I've contributed to develop several websites for small and medium-sized companies around the globe. I've worked in E-Commerce solutions, pages such as landings, services, portfolios, blogs, NFT's, among others.
      </p>

      <p class="text-lg mt-5">
        Following UI/UX design principles and standards, I'm able to recreate with success and high quality, the designs provided by co-workers or clients.
      </p>
    </div>

    <div class="mt-8">
      <a class="btn connect" href="https://www.linkedin.com/in/diegoalce/" target="_blank">Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Recent projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Muze Chocolate" 
    img="/muze-ss.png"
    desc="E-Commerce development with Shopify." 
    url="https://muzechocolate.com/"
    badge="SHOPIFY"
  />
  <HorizontalCard
    title="Nail Your Marketing"
    img="/nym-ss.jpg"
    desc="A startup which focuses on branding, social media, marketing and website development solutions. Website made with WordPress & Elementor."
    url="https://nailyourmarketing.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Work Ninjas"
    img="/wn-ss.jpg"
    desc="A startup which focuses on automating back office solutions for roofing contractors. Website made with WordPress, Elementor, Slick.js"
    url="https://workninjas.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Roof Squad"
    img="/rsquad-ss.jpg"
    desc="Roofing Contractor with more than 20 years of combined experience serving Texas, Louisiana and Colorado. Website made with Webflow."
    url="https://www.roofsquad.com/"
    badge="WEBFLOW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Monarch Roofing"
    img="/monarch-ss.jpg"
    desc="Monarch specializes in metal, tile, shingles and low slope roofs. Website made with WordPress, HTML, CSS, PHP & JS."
    url="https://monarchroofingllc.com/"
    badge="THEME DEV"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Bottle Depot"
    img="/bottle-ss.jpg"
    desc="E-commerce providing the most professional bottle packaging solution. Website made with Shopify."
    url="https://thebottledepot.co/"
    badge="SHOPIFY"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
